body{
    text-align: center;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
}

img{
    width: 19rem;
}